header {
  background: lightblue;
  display: flex;
  /*flex-grow: 1;*/
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  overflow: hidden;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav-link {
  padding: 0 2rem;
  opacity: 0.9;

}


.nav-link:hover {
  opacity: 1;
  cursor: pointer;
}


.active {
  border: 3px solid rgba(154, 205, 50, 0.55);
  border-radius: 15px;

}


.mobile{
  font-size: 3rem;
  display: none;
  cursor: pointer;
}


@media (max-width: 800px) {
  .nav-link{
    display: none;
  }

  .mobile{
    display: flex;
  }
}
