:host{
  padding: 3em 0;
  display: grid;
  place-items: center;
}

header{
  text-align: center;
}

h1{
  margin-block: 0 0.25em;
}

em {
  display: block;
  font-size: 0.875em;
  font-style: normal;
  margin-bottom: 1.5em;
}

label {
  display: block;
  margin-bottom: 1em;
  text-align: left;
}

label strong {
  display: block;
  font-size: 0.75em;
  font-weight: normal;
  margin-bottom: 0.25em;
}


input {
  border: solid 1px;
  border-radius: 0.375em;
  padding: 0.75em;
  width: 20rem;
}

.error {
  color: red;
  border: solid 1px;
  border-radius: 0.375em;
  display: none;
  font-size: 0.875em;
  margin-bottom: 1em;
  padding: 1em;
}

.error.visible {
  display: block;
}


.success {
  color: green;
  border: solid 1px;
  border-radius: 0.375em;
  font-size: 0.875em;
  padding: 1em;
  text-align: center;
  width: 20rem;
}

.success em {
  margin-bottom: 0;
}

button {
  background-color: black;
  border: none;
  border-radius: 0.375em;
  color: white;
  display: block;
  min-height: 2.75rem;
  transition: opacity 0.25s ease-out;
  width: 21rem;
}

button.disabled {
  background: #aaa;
}



button:not(.disabled):focus {
  background-color: #ff495d;
}

button:not(.disabled):hover {
  opacity: 0.7;
}
